.barbers_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.barbers_box {
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: row;
}

.barber {
  width: 25%; /* Each barber takes 25% of the width */
  height: 100vh; /* Full height of the viewport */
  background-size: cover; /* Ensure background image covers the full box */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Ensure the background image doesn't repeat */
  filter: grayscale(100%); /* Grayscale by default */
  position: relative;
  transition: filter 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.barber:hover {
  filter: grayscale(0%);
}

.barber_name {
  width: 60%;
  position: absolute;
  bottom: 23%;
  left: 50%;
  transform: translateX(-50%);
  color: red;
  font-size: 24px;
  font-weight: 600;
  font-family: 'Lobster', cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease, color 0.5s ease;
}

.barber:hover .barber_name {
  opacity: 1;
}

/* Adjust individual background positions */
.barber:nth-child(1) {
  background-image: url('../assets/barber_one.jpg');
  background-position: center top; /* Focus on the upper part of the image */
}

.barber:nth-child(2) {
  background-image: url('../assets/barber_two.jpg');
  background-position: center top; /* Adjust according to the image */
}

.barber:nth-child(3) {
  background-image: url('../assets/barber_three.webp');
  background-position: center; /* Standard center */
}

.barber:nth-child(4) {
  background-image: url('../assets/barber_four.jpg');
  background-position: center; /* Adjust according to the face */
}

/* Media query for screens 1000px or smaller */
@media (max-width: 1000px) {
  .barbers_box {
    flex-wrap: wrap; /* Allow the items to wrap into two rows */
    height: 100vh; /* Ensure the full height is used */
  }

  .barber {
    width: 50%; /* Each barber takes 50% width */
    height: 50vh; /* Each barber takes 50% height */
    filter: none; /* Remove grayscale effect */
  }

  .barber_name {
    opacity: 1; /* Always display the name */
    color: red; /* Ensure the name is always red */
  }

  .barber:hover .barber_name {
    opacity: 1; /* Keep the name visible even on hover */
  }
}

/* Media query for even smaller screens (500px or smaller) */
@media (max-width: 500px) {  
  .barber_name {
    font-size: 18px; /* Adjust the text size for smaller screens */
  }
}
@media (max-width: 400px) {  
  .barber_name{
    font-size: 15px; /* Adjust the text size for smaller screens */
    bottom: 19%;
  }
}
